<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.yummy"/>
 	<aop:aspectj-autoproxy />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property><property name="url"
			value="jdbc:mysql://localhost:3306/yummy">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/sshmeger/test/Test.hbm.xml</value>
				<value>com/yummy/pojo/Shop.hbm.xml</value>
				<value>com/yummy/pojo/Dish.hbm.xml</value>
				<value>com/yummy/pojo/Customer.hbm.xml</value>
				<value>com/yummy/pojo/CollectDish.hbm.xml</value>
				<value>com/yummy/pojo/CollectShop.hbm.xml</value>
				<value>com/yummy/pojo/CustomerInfo.hbm.xml</value>
				<value>com/yummy/pojo/Estimate.hbm.xml</value>
				<value>com/yummy/pojo/Gift.hbm.xml</value>
				<value>com/yummy/pojo/GiftExchange.hbm.xml</value>
				<value>com/yummy/pojo/OrderInfo.hbm.xml</value>
				<value>com/yummy/pojo/ShopWorker.hbm.xml</value>
				<value>com/yummy/pojo/Order.hbm.xml</value></list>
		</property></bean>
	<bean id="TestDAO" class="com.sshmeger.test.TestDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
 	
	<bean id="TestAction" class="com.sshmeger.test.TestAction" scope="prototype">
		<property name="testDAO">
			<ref bean="TestDAO" />
		</property>
	</bean>
	 
	 <bean id="ShopWorkerDAO" class="com.yummy.dao.impl.ShopWorkerDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	<bean id="ShopWorkerService" class="com.yummy.service.impl.ShopWorkerService">
		<property name="shopWorkerDAO">
			<ref bean="ShopWorkerDAO"/>
		</property>
	</bean>
	 
	<bean id="CustomerDAO" class="com.yummy.dao.impl.CustomerDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	<bean id="CustomerService" class="com.yummy.service.impl.CustomerService">
		<property name="customerDAO">
			<ref bean="CustomerDAO"/>
		</property>
	</bean>
	 
	<bean id="ShopDAO" class="com.yummy.dao.impl.ShopDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShopService" class="com.yummy.service.impl.ShopService">
		<property name="shopDAO">
			<ref bean="ShopDAO"/>
		</property>
	</bean>
		
	<bean id="ShopLoginAction" class="com.yummy.action.ShopLoginAction" scope="prototype">
		<property name="shopService">
			<ref bean="ShopService" />
		</property>
	</bean>
	
	<bean id="ShowShopAction" class="com.yummy.action.ShowShopAction" scope="prototype">
		<property name="shopService">
			<ref bean="ShopService" />
		</property>
	</bean>
	<bean id="AddShopAction" class="com.yummy.action.AddShopAction" scope="prototype">
		<property name="shopService">
			<ref bean="ShopService" />
		</property>
	</bean>
	<bean id="SaveShopAction" class="com.yummy.action.SaveShopAction" scope="prototype">
		<property name="shopService">
			<ref bean="ShopService" />
		</property>
	</bean>

	<bean id="DishDAO" class="com.yummy.dao.impl.DishDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DishService" class="com.yummy.service.impl.DishService">
		<property name="dishDAO">
			<ref bean="DishDAO"/>
		</property>
	</bean>


	<bean id="AddMyDishAction" class="com.yummy.action.AddMyDishAction" scope="prototype">

		<property name="dishService">
			<ref bean="DishService" />
		</property>
	</bean> 
	
	<bean id="ShowAllMyDishAction" class="com.yummy.action.ShowAllMyDishAction" scope="prototype">
		<property name="dishService">
			<ref bean="DishService" />
		</property>
	</bean>
	<bean id="UpdateMyDishAction" class="com.yummy.action.UpdateMyDishAction" scope="prototype">
		<property name="dishService">
			<ref bean="DishService" />
		</property>
	</bean>
	<bean id="SaveMyDishAction" class="com.yummy.action.SaveMyDishAction" scope="prototype">
		<property name="dishService">
			<ref bean="DishService" />
		</property>
	</bean>

	 <bean id="highQualifiedFoodDAO" class="com.yummy.dao.impl.HighQualifiedFoodDAO">
	 	<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	 </bean>
	<!--  拦截用户搜索的action -->
	 <bean id="searchAction" class="com.yummy.action.SearchAction" scope="prototype"/>
	 
	<!-- 注册的action -->
	 <bean id="RegisterAction" class="com.yummy.action.RegisterAction" scope="prototype">
		<property name="customerService">
			<ref bean="CustomerService" />
		</property>
	 </bean>
	 
	 <!-- 店铺员工注册的action -->
	 <bean id="shopWorkerRegAction" class="com.yummy.action.shopWorkerRegAction" scope="prototype">
		<property name="shopWorkerService">
			<ref bean="ShopWorkerService" />
		</property>
	 </bean>
	 
	<!--  查询Dao -->
	 <bean id="searchDAO" class="com.yummy.dao.impl.SearchDAO" scope="prototype">
	 	<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	 </bean>

	 <bean id="OrderDAO" class="com.yummy.dao.impl.OrderDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>

	 <bean id="CollectDishDAO" class="com.yummy.dao.impl.CollectDishDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="CollectShopDAO" class="com.yummy.dao.impl.CollectShopDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="CustomerInfoDAO"
	 	class="com.yummy.dao.impl.CustomerInfoDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="EstimateDAO" class="com.yummy.dao.impl.EstimateDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="GiftDAO" class="com.yummy.dao.impl.GiftDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="GiftExchangeDAO"
	 	class="com.yummy.dao.impl.GiftExchangeDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>
	 <bean id="OrderInfoDAO" class="com.yummy.dao.impl.OrderInfoDAO">
	 	<property name="sessionFactory">
	 		<ref bean="sessionFactory" />
	 	</property>
	 </bean>

</beans>